body {
	margin: 0;
	background-color: black;
}

#game {
	padding: 0px;

	/* Center game on screens larger than 1366x768. */
	position: absolute;

	margin-left: -682.5px;
	margin-top: -383.5px;

	left: 50%;
	top: 50%;
}